page-about {

    .jus{
        text-align: justify;
    }

    .img-about{
        text-align: center;
        position: absolute;
        bottom: 90px;
        left: 30px;
    }

    .bg-image{
        background-image: url('../assets/imgs/background-pages.png');
        background-repeat: no-repeat;
        background-position: 90%;
        background-size: cover;
        }
    }
