page-info {

    .bg-image{
        background-image: url('../assets/imgs/background-pages.png');
        background-repeat: no-repeat;
        background-position: 90%;
        background-size: cover;
        }

    .sensor{
        img{
            max-width: 35%;
            margin-top: 1em;
            margin-left: 2.5em;
            vertical-align: middle;
        }
        .info{
            display: inline-block;
            vertical-align: top;
            margin-top: 1.5em;
            margin-left: 1.5em;
        }
    }

.card-temp{
    position: static;
    text-align: center;
    width: auto !important;
    font-size: 50px;
}

ion-card-content{
    background: rgba(239, 239, 239, 0.8px);
}

.progress-temp{
    position: relative;
    width: 100px;
    left: 120px;
    }

.name-temp{
    position: absolute;
    max-width: 150px;
    top: 40px;  
    }
.temp{
    position: absolute;
    top: 95px;
    left: 215px;
}

.more-temp{
    position: absolute;
    top: 160px;
    left: 320px;
}

.card-umi{
    position: static;
    text-align: center;
    width: auto !important;
    font-size: 50px;
}

.progress-umi{
    position: relative;
    width: 100px;
    left: 120px;
    }

.name-umi{
    position: absolute;
    max-width: 160px;
    top: 210px;  
    left: 40px;
    }
.umi{
    position: absolute;
    top: 270px;
    left: 215px;
}

.more-umi{
    position: absolute;
    top: 335px;
    left: 320px;
}

.card-light{
    position: static;
    text-align: center;
    width: auto !important;
    font-size: 50px;
}

.progress-light{
    position: relative;
    width: 100px;
    left: 120px;
    }

.name-light{
    position: absolute;
    max-width: 115px;
    top: 390px;  
    left: 40px;
    }
.light{
    position: absolute;
    top: 445px;
    left: 215px; 
}

.more-light{
    position: absolute;
    top: 510px;
    left: 320px;
}
}




